<!doctype html>
<html lang="en">
<head>
  <meta property="og:title" content="{{ fileName }}" />
  <meta property="og:site_name" content="Koding Dev" />
  <meta property="og:image" content="{{ rawUrl }}" />
  <meta property="og:description" content="{{ snippet }}" />
  <meta name="theme-color" content="#f48fb1" />
  <meta name="twitter:card" content="summary_large_image" />

  <title>Discord</title>
</head>
</html>